# Домашнее задание №3

Во всех задачах для ввода данных используйте `input()`, а для вывода данных используйте `print()`

## Задача №1

**Условие:** Необходимо ввести с клавиатуры последовательность натуральных чисел, каждое число на новой строке. Последовательность завершается числом 0. Необходимо найти наибольший элемент в последовательности.

**Пример для проверки:**  
*Входные данные*     
1                       
8  
4  
0  
*Выходные данные*   
8

In [21]:

find_max_array = []
flag = True
while flag:
  num = int(input())
  if num != 0:
    find_max_array.append(num)
  else:
    flag = False
print(max(find_max_array))

5
3
19
55
43
23
89
43
88
32
81
12
89
11
0
89

## Задача №2

**Условие:** Дана строка. Необходимо удалить из этой строки все символы %. Для решения задачи используйте цикл.

**Пример для проверки:**  
*Входные данные*  
GHRE%%%%fd%dfjkan%%fleo%%%%r%fe%  
*Выходные данные*  
GHREfddfjkanfleorfe

In [36]:
input_str = str(input())
str_list = []
for i in input_str:
  if i != '%':
    str_list.append(i)
  else:
    continue
#print(str_list)
print(''.join(str(e) for e in str_list))

%%4%5%6%7%qwer%ty%%..%
4567qwerty..

## Задача №3

**Условие:** Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A включительно до B включительно (математическая запись - [A, B]).

**Пример для проверки:**  
*Входные данные*  
1  
10  
*Выходные данные*  
1 2 3 4 5 6 7 8 9 10

In [40]:
num_start = int(input())
num_end = int(input())
for i in range(num_start, num_end+1):
  print(f"{i} ",end='')

-5
12
-5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12

## Задача №4

**Условие:** Необходимо ввести с клавиатуры 10 целых чисел. Вычислите сумму введенных чисел. 

**Пример для проверки:**  
*Входные данные*  
8  
4  
5  
3  
9  
2  
3   
4  
5  
1  
*Выходные данные*  
44

In [32]:
sum = 0
for i in range(10):
  num = int(input())
  sum += num
print(sum)

758
483
893
393
293
292
292
485
828
183
4900

In [35]:
num = 10
sum = 0
while num !=0:
  input_num = int(input())
  sum += input_num
  num -= 1
print(sum)

758
483
893
393
293
292
292
485
828
183
4900

## Задача №5

**Условие:** Факториалом числа n называется произведение 1 * 2 * ... * n. Обозначение: n!.
Введите с клавиатуры натуральное число n. Вычислите значение n!. 

В решении задачи нельзя использовать математическую библиотеку math.

**Пример для проверки:**  
*Входные данные*  
7  
*Выходные данные*  
5040

In [33]:
num = int(input())
mul = 1
for i in range(1, num+1):
  mul *= i
print(mul)

12
479001600